#############################
# Node
#############################

node_modules/
dist/
npm-debug.log*

#############################
# Python
#############################

venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/

#############################
# Environment Variables
#############################

.env
.env.*

!.env.example

#############################
# Terraform
#############################

.terraform/
*.tfstate
*.tfstate.*
*.tfvars

#############################
# Kubernetes
#############################

*.kubeconfig

#############################
# IDE
#############################

.vscode/
.idea/

#############################
# OS
#############################

.DS_Store
Thumbs.db

#############################
# Logs
#############################

*.log

#############################
# Coverage
#############################

coverage/
.coverage/

#############################
# Misc
#############################

*.swp
