[defaults]

inventory = inventories/production/inventory.ini

roles_path = roles

host_key_checking = False

retry_files_enabled = False

stdout_callback = yaml

interpreter_python = auto_silent

forks = 20

timeout = 30

gathering = smart

fact_caching = jsonfile

fact_caching_connection = .facts

fact_caching_timeout = 86400

remote_user = ec2-user

nocows = True

deprecation_warnings = False

callbacks_enabled = profile_tasks,timer

[inventory]

enable_plugins = host_list,script,auto,yaml,ini,amazon.aws.aws_ec2

[ssh_connection]

pipelining = True

ssh_args = -o ControlMaster=auto -o ControlPersist=60s
